.heroContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/hero_cover_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: var(--white);
}

.heroContainer::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--primary-rgb), 0.9);
}

.heroContainer img,
.heroContainer h1,
.heroContainer h3 {
    z-index: 2;
}

.heroContainer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.heroContainer h1 {
    font-family: "Kaushan Script", cursive;
    font-size: 50px;
    line-height: 1.3;
    transform: rotate(-5deg);
    position: relative;
    margin: 0 0 30px;
}

.heroContainer h1::before {
    content: '';
    position: absolute;
    top: 35px;
    left: -44px;
    width: 30px;
    height: 4px;
    background: var(--white);
}

.heroContainer h1::after {
    content: '';
    position: absolute;
    top: 26px;
    right: -50px;
    width: 30px;
    height: 4px;
    background: var(--white);
}
.heroContainer h3{
    margin: 0 0 30px;
    font-size: 16px;
}

.socialMediaLinks {
    z-index: 2;
    margin: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialMediaLinks a{
    margin-right: 30px;
}
.socialMediaLinks a i{
    font-size: 30px;
    color: var(--white);
}



/* Mobile */
@media screen and (max-width: 650px){
    .heroContainer h1 {
        font-size: 32px;
    }
}